/* .mapCanvas {
  display: flex; 
  height: 50rem; 
  width: 37.5rem;
} */

/* canvas {
  display: flex;
  flex-direction: column;
  border: 0.5rem solid rgb(50, 68, 66);
  margin-left: 3%;
  height: 25rem; 
  width: 22.5rem;
} */