.mapView {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  min-width: 60vw;
  align-items: center;
  border-left: 0.25rem inset #b62253;
  margin-left: 7%;
  margin-top: 10%;
}


