/* :root {
  --pad: 1.2rem;
  --melon: #FFB5A7;
  --pale-pink: #FCD5CE;
  --isabelline: #F8EDEB;
  --peach: #F9DCC4;
  --peach-crayola: #FEC89A;
  --mauve: #86626E;
  --darkblue: #1d3258;
  --lightblue: #C1EEFF;
  --lighterblue: #EAF9FF;
} */





a:hover {
  opacity: .5;
}

a {
  color: var(--mauve);
  text-decoration: none;
  letter-spacing: .5px;
  padding: 5px;

}