:root {
  --pad: 1.2rem;
  --melon: #FFB5A7;
  --pale-pink: #FCD5CE;
  --isabelline: #F8EDEB;
  --peach: #F9DCC4;
  --peach-crayola: #FEC89A;
  --mauve: #86626E;
}

main {
  width: 85%;
  margin: auto;
  margin-top: 50px;
}

body {
  width: 100%;
};

.split {
  display: flex;
  flex: 2 1;
}

.split-small {
  flex-basis: 30%;
}

.header{
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin:auto;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  text-transform: lowercase;
}

.navigation a {
  color: var(--mauve);
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 20px;
  padding: 10px;
}

.banner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 20px;
  padding-right: 100px;
  padding-left: 100px;
  width: fit-content;
}

.left {
  text-align: right;
}

.section {
  background-color: white;
  border-radius: 100px;
  padding-top: 30px;
  padding-bottom: 100px;
  padding-right: 100px;
  padding-left: 100px;
  margin-top: 200px;
  width: 100%;
}

.section h2 {
  text-align: center;
}

.navLink {
  /* background-color: var(--peach); */
}

.homeLink{ 
  /* background-color: var(--peach-crayola); */
}

a:hover {
  opacity: .5;
}