.MapForm {
  display: flex;
}

.confirmControls {
  display: flex;
  flex-direction: column;
}

.activeRad {
  color:teal;
}

.activeRad:hover {
  color:steelblue;
}

.radioDiv {
  display: flex;
  flex-direction: column;
}

input[type='radio'] {
  appearance: none;
}

.radio {
  margin: 0.25rem;
}

.radio:hover {
  color: steelblue;
}

.hiddenForm {
  opacity: 0;
  transition-timing-function: ease-in;
  transition: 0.35s;
}

.displayForm {
  opacity: 1;
  transition-timing-function: ease-out;
  transition: 0.35s;
}

.popSelect {
  display: flex;
  flex-direction: row;
  animation: growDown 300ms ease-in-out forwards;
  transition-timing-function: ease-in;
  transition: 0.35s;
}