:root {
  --light-blue: #e1f0f1;
  --blue: rgb(179, 215, 211);
  --dark-blue: rgb(50, 68, 66);
  --darker-blue: rgb(50, 68, 66);
  --tan: rgb(238, 231, 227);
  --bright-pink: #f4dbe9;
  --light-pink: rgb(253, 245, 249);
  --orange: #f7c9ac;
  --purple: rgb(217, 210, 232);
}

main {
  background-color: var(--light-blue);
  height: 100vh;
  width: 100vw;
}

/* .logo_container {
  width: 100vw;
} */

.logo {
  width: 20rem;
  height: 20rem;
}

.banner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 0.5rem;
  padding: 1rem;
  padding-right: 5rem;
  padding-left: 5rem;
  width: fit-content;
}

.left {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  text-align: right;  
}

.left div{
  max-width: 760px;
}

.section {
  display:flex;
  flex-direction: column;
  min-width: 29rem;
  margin-top: 10rem;
  border-bottom:rgb(50, 68, 66);
  border-top:rgb(50, 68, 66);
  border-right: var(--light-blue); 
  border-left: var(--light-blue);
  border-style: solid;
  border-width: 0.2rem;
  color: var(--darker-blue);
  font-weight: lighter;
  align-items: space-around;
  justify-content: center;
  padding: 0rem;
}

.section .text {
  background-color: var(--bright-pink);
  height: 100%;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 2.5rem;
  font-size: 1rem;
}

.section h2 {
  font-size: 4.5rem;
  padding-right: 2.5rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
  padding: 2.5rem;
  flex-shrink: 0;
  color: var(--darker-blue);
  font-weight: lighter;
}

a:hover {
  opacity: 0.5;
}

a {
  color: var(--mauve);
  text-decoration: none;
  letter-spacing: 0.05rem;
  /* padding: 1rem; */
}

@media(min-width: 480px) {
  .section {
    flex-direction: row;
  }

  .section .text {
    font-size: 1.25rem;
  }

  .left {
    padding-right: 4%;
  }
}

@media(min-width: 800px) {
  .logo {
    height: 40rem;
    width: 40rem;
  }
}