:root {
  --light-blue: rgb(225, 240, 241);
  --blue: rgb(179, 215, 211);
  --dark-blue: rgb(50, 68, 66);
  --darker-blue: rgb(50, 68, 66);
  --tan: rgb(238, 231, 227);
  --bright-pink: rgb(244, 219, 233);
  --light-pink: rgb(253, 245, 249);
  --orange: rgb(247, 201, 172);
  --purple: rgb(217, 210, 232);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --heading-height: 7em;
}

html {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

body {
  background-color: var(--light-blue);
  color: var(--dark-blue);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: var(--melon);
  border: 0.1 solid var(--mauve);
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
button:hover {
  background: var(--isabelline);
  border: 0.1rem solid var(--mauve);
}

/* html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
:root {
  --light-blue: rgb(225, 240, 241);
  --blue: rgb(179, 215, 211);
  --dark-blue: rgb(50, 68, 66);
  --darker-blue: rgb(50, 68, 66);
  --tan: rgb(238, 231, 227);
  --bright-pink: rgb(244, 219, 233);
  --light-pink: rgb(253, 245, 249);
  --orange: rgb(247, 201, 172);
  --purple: rgb(217, 210, 232);
}
h1 {
  text-transform: lowercase;
  font-size: 50px;
  color: var(--dark-blueblue);
  filter: drop-shadow(0px 0px 1px var(--light-pink));
}
h1 strong {
  font-size: 200px !important;
  filter: drop-shadow(0px 0px 10px var(--tan));
}

body {
  background-color: var(--light-blue);
  color: var(--dark-blue);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: var(--melon);
  border: 1px solid var(--mauve);
  font-size: 1.1rem;
  padding: 5px 10px;
  cursor: pointer;
  margin: 5px;
  border-radius: 0.5rem;
}
button:hover {
  background: var(--isabelline);
  border: 1px solid var(--mauve);
}
main {
  min-height: 30rem;
}
footer {
  min-height: 5rem;
} */

/*------------Changes------------*/

/* html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
} */
/* :root {
  --light-blue: rgb(225, 240, 241);
  --blue: rgb(179, 215, 211);
  --dark-blue: rgb(50, 68, 66);
  --darker-blue: rgb(50, 68, 66);
  --tan: rgb(238, 231, 227);
  --bright-pink: rgb(244, 219, 233);
  --light-pink: rgb(253, 245, 249);
  --orange: rgb(247, 201, 172);
  --purple: rgb(217, 210, 232); */
  /* --pad: 1.2rem;
  --melon: #FFB5A7;
  --pale-pink: #FCD5CE;
  --isabelline: #F8EDEB;
  --peach: #F9DCC4;
  --peach-crayola: #FEC89A;
  --mauve: #86626E;
  ;
  --lightblue: #C1EEFF;
  --lighterblue: #EAF9FF; */
/* } */
/* h1 {
  text-transform: lowercase;
  font-size: 3rem;
  color: var(--dark-blueblue);
  filter: drop-shadow(0px 0px 1px var(--light-pink));
}
h1 strong {
  font-size: 10rem !important;
  filter: drop-shadow(0px 0px 10px var(--tan));
} */

/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */
/* button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: var(--melon);
  border: 0.25rem solid var(--mauve);
  font-size: 1.1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 1rem;
  border-radius: 0.5rem;
}
button:hover {
  background: var(--isabelline);
  border: 1rem solid var(--mauve);
} */
/* main {
  display: flex;
  min-height: 90vh;
}
footer {
  min-height: 5rem;
} */
