html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
:root {
  --pad: 1.2rem;
  --melon: #FFB5A7;
  --pale-pink: #FCD5CE;
  --isabelline: #F8EDEB;
  --peach: #F9DCC4;
  --peach-crayola: #FEC89A;
  --mauve: #86626E;
  --darkblue: #2C497F;
  --lightblue: #C1EEFF;
  --lighterblue: #EAF9FF;
}
/* header {
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--peach-crayola);
} */
h1 {
  text-transform: lowercase;
  font-size: 50px;
  color: var(--darkblue);
  filter: drop-shadow(0px 0px 1px white);
}
h1 strong {
  font-size: 200px !important;
  filter: drop-shadow(0px 0px 10px var(--lighterblue));
}
h2 {
  font-size: 60px;
  color: rgb(58, 56, 56);
}
body {
  background-color: var(--lighterblue);
  color: var(--mauve);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: var(--melon);
  border: 1px solid var(--mauve);
  font-size: 1.1rem;
  padding: 5px 10px;
  cursor: pointer;
  margin: 5px;
  border-radius: 0.5rem;
}
button:hover {
  background: var(--isabelline);
  border: 1px solid var(--mauve);
}
main {
  min-height: 30rem;
}
footer {
  min-height: 5rem;
}
/* TEXT STYLES */
.spotlight {
  font-size: 40px;
  color: var(--darkblue);
};
p {
  color: green;
}