html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
:root {
  --pad: 1.2rem;
  --melon: #ffb5a7;
  --pale-pink: #fcd5ce;
  --isabelline: #f8edeb;
  --peach: #f9dcc4;
  --peach-crayola: #fec89a;
  --mauve: #86626e;
}
header {
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--peach);
}
body {
  background-color: var(--isabelline);
  color: var(--mauve);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: var(--melon);
  border: 1px solid var(--mauve);
  font-size: 1.1rem;
  padding: 5px 10px;
  cursor: pointer;
  margin: 5px;
  border-radius: 0.5rem;
}
button:hover {
  background: var(--isabelline);
  border: 1px solid var(--mauve);
}
main {
  min-height: 30rem;
}
